@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme inline {
  --font-pixel: var(--font-pixel);
}

@theme {
  --spacing: 4px;

  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-2xll: 28px;
  --text-3xl: 28px;

  --text-xs-line-height: 14px;
  --text-sm-line-height: 14px;
  --text-base-line-height: 16px;
  --text-lg-line-height: 18px;
  --text-xl-line-height: 20px;
  --text-2xl-line-height: 24px;
  --text-2xll-line-height: 24px;
  --text-3xl-line-height: 32px;

  --color-main-gray: #070c19;
}

@layer theme {
  :root {
    @media (width >= theme(--breakpoint-lg)) {
      --spacing: 0.208vw;
      --text-xxs: 0.521vw;
      --text-xs: 0.625vw;
      --text-sm: 0.729vw;
      --text-base: 0.833vw;
      --text-lg: 0.938vw;
      --text-xl: 1.042vw;
      --text-2xl: 1.25vw;
      --text-2xll: 1.458vw;

      --text-3xl: 1.458vw;

      --text-xs-line-height: 0.729vw;
      --text-sm-line-height: 0.729vw;
      --text-base-line-height: 0.833vw;
      --text-lg-line-height: 0.938vw;
      --text-xl-line-height: 1.042vw;
      --text-2xl-line-height: 1.25vw;
      --text-3xl-line-height: 1.667vw;
    }
  }
}

@layer utilities {
  body {
    font-family: Helvetica, sans-serif;
    color: #f2f2f2;
    background-color: #0f1217;
  }
}

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"].appearance-none {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  /* clears the 'X' from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Revert text color */
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  scroll-behavior: smooth;
}
