services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=iRBps4IeGXYVEaJ
    networks:
      - bridge_network

  postgres:
    image: postgres:16-alpine
    container_name: orbitrium-postgres
    environment:
      POSTGRES_USER: orbitrium
      POSTGRES_PASSWORD: 3EV5apRHHy6p1ds
      POSTGRES_DB: orbitrium_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nestjs-main:
    image: nestjs-main:latest
    container_name: nestjs-main
#    ports:
#      - "3030:3030"
    volumes:
      - data:/usr/share/temp
    networks:
      - bridge_network

  nestjs-dev:
    image: nestjs-dev:latest
    container_name: nestjs-dev
#    ports:
#      - "3031:3031"
    volumes:
      - data:/usr/share/temp
    networks:
      - bridge_network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    networks:
      - bridge_network

  redis:
    image: redis:latest
    container_name: redis-server
#    ports:
#      - "6379:6379"
    volumes:
      - ./redis/redis-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf --appendonly yes
    networks:
      - bridge_network

volumes:
  mongodb_data:
  data:
  postgres_data: 

networks:
  bridge_network:
    driver: bridge
