services:
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - '6379:6379'
    volumes:
      - ./redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - bridge

  redis-mina:
    image: redis:latest
    container_name: redis-server-mina
    ports:
      - '6380:6379'
    volumes:
      - ./redis-data-mina:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - bridge
networks:
  bridge:
    driver: bridge
