services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    command: --cleanup --label-enable --scope=outline --tlsverify --interval 3600
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    networks:
      - bridge_network
    restart: always
    healthcheck:
      test: ["CMD","/watchtower", "--health-check"]
    labels:
      com.centurylinklabs.watchtower: "true"
      com.centurylinklabs.watchtower.enable: "true"
      com.centurylinklabs.watchtower.scope: "outline"

  shadowbox:
    image: quay.io/outline/shadowbox:stable
    container_name: shadowbox
    entrypoint: ["docker-entrypoint.sh"]
    command: ["/cmd.sh"]
    volumes:
      - /opt/outline/persisted-state:/opt/outline/persisted-state
    environment:
      - SB_PRIVATE_KEY_FILE=/opt/outline/persisted-state/shadowbox-selfsigned.key
      - SB_METRICS_URL=
      - SB_STATE_DIR=/opt/outline/persisted-state
      - SB_API_PORT=38243
      - SB_API_PREFIX=Ou1pOIoef2tQ4DJd_4xNCA
      - SB_CERTIFICATE_FILE=/opt/outline/persisted-state/shadowbox-selfsigned.crt
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - NODE_VERSION=18.18.0
      - YARN_VERSION=1.22.19
    network_mode: host
    restart: always
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      com.centurylinklabs.watchtower.scope: "outline"
      shadowbox.github.release: "1.12.3"
      shadowbox.node_version: "16.18.0"
    stop_signal: SIGKILL

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=iRBps4IeGXYVEaJ
    networks:
      - bridge_network

  postgres:
    image: postgres:16-alpine
    container_name: orbitrium-postgres
    environment:
      POSTGRES_USER: orbitrium
      POSTGRES_PASSWORD: 3EV5apRHHy6p1ds
      POSTGRES_DB: orbitrium_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nestjs-app:
    image: nestjs-app:latest
    container_name: nestjs-app
#    ports:
#      - "3030:3030"
    volumes:
      - data:/usr/share/temp
    networks:
      - bridge_network

 nestjs-app:
    image: nestjs-app:latest
    container_name: nestjs-app
    ports:
      - "3031:3031"
    volumes:
      - data:/usr/share/temp
    networks:
      - bridge_network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    networks:
      - bridge_network

volumes:
  mongodb_data:
  data:
  postgres_data: 

networks:
  bridge_network:
    driver: bridge
