name: Build & Deploy Docker Image

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        env:
          DEPLOY_HOOKS: '{"main": "https://api.vercel.com/v1/integrations/deploy/prj_C1HUgN5FZYWAVc6rLyg0su57Miui/Mr2uYTmBav", "dev": "https://api.vercel.com/v1/integrations/deploy/prj_C1HUgN5FZYWAVc6rLyg0su57Miui/eVHIfTAoWi"}'
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          BRANCH=${{ github.ref_name }}
          HOOK_URL=$(echo "$DEPLOY_HOOKS" | jq -r ".[\"$BRANCH\"]")
          if [ -n "$HOOK_URL" ]; then
            curl -X POST "$HOOK_URL"
            echo "Triggered deployment for $BRANCH"
            if [ -z "$TELEGRAM_TOKEN" ]; then
              echo "Error: TELEGRAM_TOKEN is empty"
            else
              echo "TELEGRAM_TOKEN is set (length: ${#TELEGRAM_TOKEN})"
            fi
            ESCAPED_COMMIT_MESSAGE=$(echo "$COMMIT_MESSAGE" | sed 's/"/\\"/g; s/\\/\\\\/g; s/&/%26/g; s/=/\\=/g')
            RESPONSE=$(curl -s -X POST "https://api.telegram.org/bot$TELEGRAM_TOKEN/sendMessage" -d chat_id=$TELEGRAM_CHAT_ID -d text="New power has awakened in the $BRANCH land. Be aware: $ESCAPED_COMMIT_MESSAGE")
            echo "Telegram API response: $RESPONSE"
            echo "Triggered telegram message for $BRANCH"
          else
            echo "No Deploy Hook configured for $BRANCH"
          fi